.body-content{
background-color: #BFACE0;
display: grid;
justify-content: center;
}

.form-section{
    background-color: #EBC7E8;
    display: grid;
    justify-content: center;
    margin: 5%;
}

.font-color{
    color: #645CAA;
}

.title-font{
    font-family: 'DM Serif Display', serif;
}

.font-type-subt{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;

}

.center-text{
    text-align: center;

}

.question-font{
    font-family: 'Quattrocento Sans', sans-serif;
}